.badge-container {
	display: flex;
	justify-content: right;
	align-items: center;
	min-width: 2.5rem;

	background-color: green;
}

.badge {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-shrink: 0;

	padding: 0.25rem;
	height: 1.25rem;
	min-width: 1.25rem;
	
	font-size: 0.75rem;
	
	border-radius: 0.625rem;

	background-color: var(--vc-unread-badge-background-color);
	color: var(--vc-unread-badge-text-color);
	display: inline-flex;
}