@use "@virola/styles/layout";

$message-editor-item-height: 11rem;
$room-toolbar-height: 3rem;

.room-pane-container {
	width: 100%; 
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.toolbar-item {
	flex-shrink: 0;
}

.divider-item {
	flex-shrink: 0;
}

.messenger-item {
	display: flex;
	flex-grow: 1;

	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.messenger {
	min-width: var(--vc-central-pane-width);
	scroll-snap-align: start;
}
