@use "@virola/styles/layout";

$message-editor-item-height: 11rem;

:root {
	--vc-text-messenger-splitter-pos: calc(100vh - #{$message-editor-item-height});
	--vc-text-message-editor-height: calc(100vh - var(--vc-text-messenger-splitter-pos));
}

.messenger-container {
	width: 100%; 
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: stretch;

	scroll-snap-align: center;
}

.message-pane-item {
	flex-grow: 1;
	height: 0; // to make overflow in message pane work
}

.divider-item {
	flex-shrink: 0;
}

.message-editor-item {
	flex-shrink: 0;
	flex-basis: var(--vc-text-message-editor-height);
}