@use "@virola/styles/typography";

$text-message-editor-height: 10rem;

.text-message-editor {
	width: 100%;
	height: 100%;

	display: flex;

	padding: 0.5rem 0.5rem 0 0.5rem; // top, right, bottom, left

	background-color: var(--vc-text-message-editor-background-color);
	color: var(--vc-text-message-editor-text-color);

	textarea {
		background-color: var(--vc-textarea-background-color);
		color: var(--vc-textarea-text-color);

		font-size: typography.$font-size-base;

		width: 100%;
		height: 100%;
		outline: none;
		resize: none;
		border: none;
	}
}