.list-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.spacer {
	width: 100%;
	flex-grow: 1;
	background-color: transparent;
}

.list-view {
	padding: 0.5rem 1rem 0px 1rem; // top, right, bottom, left
	width: 100%;
	overflow: auto;

	display: flex;
	flex-direction: column-reverse;
}

.primary {
	background-color: var(--vc-text-message-pane-background-color);
}

.secondary {
	background-color: var(--vc-text-message-pane-secondary-background-color);;
}