@use '@virola/styles/colors';
@use '@virola/styles/layout';

.login-page {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form {
	width: 400px;
	padding: 1rem 2rem;
	margin: 1rem;
	background-color: var(--vc-box-background-color);
	border: layout.$box-border-width solid var(--vc-box-border-color);
	border-radius: layout.$box-border-radius;
	box-shadow: 0px 0px 1rem var(--vc-box-shadow-color);

	.title {
		margin-bottom: 2rem;
		text-align: center;
	}

	input {
		width: 100%;
		margin-bottom: 1rem;
	}

	input[type=submit] {
		margin-top: 1rem;
	}
}

